body {
    font-family: Arial, sans-serif;
}

.search-container {
    margin: 20px;
    text-align: left;
}

#searchInput {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 16px;
    border: 3px solid #ccc;
    border-radius: 30px;
}

.content-container {
    margin: 20px;
    border: 1px solid rgb(55, 55, 56)
   
    
}

.content-item {
    margin: 20px;
    padding: 5px;
    width: 40%;
    background-color: rgb(201, 219, 245);
    border: 1px solid rgb(55, 55, 56);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-content: center;
}
.content-item:hover {
    transform: scale(1.005);

}
.content-item a {
    text-decoration: none;
    color: #00f;
    font-size: 18px;
}

@media (max-width: 600px) {
    .content-item {
        width: 90%;
    }
}


audio{
   margin-left: 20px; 
}

